* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
  background-color: rgba(255, 255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: #777;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

 .logo img {
  height: 100px; /* Adjust this height based on your logo */
  width: 300px;
}


.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu ul li {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.menu ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 15px;
  display: block;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: #333;
  font-weight: bold;
}

.menu ul li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: orange;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: left;
  transform-origin: right;
  /* transition: transform 0.8s ease; */
  z-index: -1;
}

.menu ul li:hover::before {
  transform: scaleX(1);
}

/* Hamburger menu button styles */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

/* Hero Section*/
.hero {
  background-image: url('images/hero.webp'); 
  background-size: cover;
  background-position: center;
  height: 80vh; /*100 vh bd*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  flex-direction: column;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin: 15px 0; /* 20 px bd*/
}

/* .availability-section {
  position:absolute;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
} */

.availability-section {
  position: absolute;
  bottom: 150px; /*change the position of container*/
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.date-picker {
  display: flex;
  gap: 50px; /* 20px bd */
}

.date-item {
  text-align: center;
}

.date-item label {
  font-size: 0.9rem;   /* 0.9rem*/
  color: #777;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.date-item input[type="date"],
.date-item input[type="number"] {
  font-size: 1rem; /* 1.5 rem bd*/
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
  color: #333;
  padding: 10px 0; /*5px 0 bd*/
  width: 150px;
}

.check-availability-btn {
  background-color:orange;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 10px 20px;
  /* padding: 15px 20px; */

  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0 8px 8px 0;
  transition: background-color 0.3s ease;
}

.check-availability-btn:hover {
  background-color: orange;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .availability-section {
    flex-direction: column;
    align-items: stretch;
  }

  .date-picker {
    flex-direction: column;
    gap: 10px;
  }

  .check-availability-btn {
    width: 100%;
    border-radius: 0 0 8px 8px;
  }
}

.hero-button {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: rgba(255, 165, 0, 1);
}



/* Responsive Menu Styles */
@media (max-width: 768px) {
  .menu ul {
      display: none; /* Hide menu on small screens */
      flex-direction: column;
      position: absolute;
      top: 60px; /* Below header */
      right: 20px;
      background-color: white;
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
  }

  .menu ul li {
      margin: 10px 0;
  }

  /* Show hamburger icon on small screens */
  .menu-toggle {
      display: ruby-base;
  }
}

.blog-section {
  max-width: 1200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 350px;
  padding:10px;
}
.blog-section-1 h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
.blog-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.blog-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.card-content p {
  color: #666;
  font-size: 1rem;
  margin-bottom: 15px;
}

.card-content a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s ease;
}

.card-content a:hover {
  color: #000;
  background-color: rgba(255, 165, 0, 0.8);
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  transition: background-color 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
  .blog-container {
    grid-template-columns: 1fr;
  }
}


button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

@media (max-width: 768px) {
  .room-card {
    width: 90%;
  }
}



.features-section {
  text-align: center;
  padding: 20px;
}

.features-section h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.feature-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 0.9rem;
  color: #666;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .features-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .features-grid {
    grid-template-columns: 1fr;
  }
}

.room-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.room-card {
  text-decoration: none;
  color: #333;
  background-color: #fff;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.room-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.room-card h3 {
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}

.room-card p {
  padding: 0 10px 10px;
  text-align: center;
  color: #666;
}

.room-card:hover {
  transform: scale(1.05);
}

/* About Us Section */
/* About Section Styling */
.about-section {
  background-image: url('images/wifi.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  /* padding: 80px 20px; bd*/
  padding: 10px 5px;
  text-align: center;
  color: #fff;
  position: relative;
}

/* Semi-transparent background overlay */
.about-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for readability */
  z-index: 1;
}

.about-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading*/
.about-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Paragraph */
.about-content p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Button */
.about-button {
  display: inline-block;
  background-color: orange;
  color: #333;
  padding: 12px 24px;
  font-size: 1em;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.about-button:hover {
  background-color: rgba(255, 165, 0, 0.8);
}


/* ==================================== */
/* rooms section */

.container {
  text-align: center;
  padding: 90px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: 'Times New Roman', serif;
  font-size: 28px;
  color: #000000;
  margin-bottom: 40px;
  margin-top: -50px;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 60px;
}

.carousel-item {
  min-width: 300px;
  max-width: 300px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-content {
  padding: 20px;
}

.carousel-content h2 {
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  color: #000;
  margin-bottom: 5px;
}

.carousel-content p {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
}

.detail-btn {
  font-size: 14px;
  padding: 10px;
  width: 100%;
  color: #000000;
  background-color: orange;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.detail-btn:hover {
  background-color: orange;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 10px;
  user-select: none;
}

.left-btn {
  left: 0;
}

.right-btn {
  right: 0;
}

/* ====================================== */

/* footer section */
/* ================================= */


footer {
  background-color: #111;
  color: #fff;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer-section {
  width: 20%;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #bbb;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
}

.about {
  width: 25%;
}

.about .logo {
  width: 150px;
  margin-bottom: 15px;
}

.about p {
  color: #bbb;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.footer-bottom {
  background-color: #000;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #bbb;
}

.footer-bottom p {
  margin: 0;
}
/* ========================================== */